body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#header-container{
    background-color: red;
    width: 100%;
    height: 100px;
    border: 5px solid black;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
}

#logo-container{
    width: 80%;
    border: 1px solid black;
    background-color: green;
}

#login-container{
    width: 20%;
    border: 1px solid black;
    background-color: blue;
}

#main-container{
    width: 100%;
    height: 500px;
    /*border: 5px solid black;*/
}

#nav-bar-container{
    background-color: green;
    width: 15%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

#nav-bar-header{
    background-color: blue;
    border: 1px solid black;
    margin: 0;
    height: 10%;
    padding-top: 15px;
}

#nav-bar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    border: 1px solid black;
}

#home-container{
    width: 85%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

#home-title{
    background-color: white;
    border: 1px solid black;
    margin: 0;
}

#home-paragraph{
    background-color: white;
    height: 50%;
    border: 1px solid black;
}

.form-inline > * {
    margin:5px;
 }

 .lbl-fecha-calendario {
    padding-right:10px;
 }
 