body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#header_container{
    background-color: red;
    width: 100%;
    height: 100px;
    border: 5px solid black;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
}

#logo-container{
    width: 100%;
    border: 1px solid black;
    background-color: green;
}

#main-container{
    background-color: red;
    width: 100%;
    height: 500px;
    border: 5px solid black;
}

#login-form{
    background-color: green;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 5px solid white;
    border-radius: 3px;
    text-align: center;
    padding-top: 100px;
}

.login-lbl{
    color: white;
    margin-bottom: 10px;
    display: inline-block;
}

.login-input{
    color: black;
    margin-bottom: 20px;
    width: 200px;
    display: inline-block;
}

#btn_submit{
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 20px;
}